* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr auto;
    background-color: #232323;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    border-radius: 10px;
    
}
div{
    display: inline-block;
}
.anuncio{
    display: inline-block;
}

.anuncio img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.anuncio h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.anuncio .small{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.anunciante{
    background-color: white;
    color: #232323;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.anunciante img{
    border-radius: 50px;
}


.container {
    padding-left: 100px;
    padding-right: 100px;
    min-height: 100vh;
    color:white;
    margin: 100px;
    border-radius: 10px;
    
    
   
    
}


.navbar {
    background-color: #333;
}

.navbar img {
    max-width: 45px;
}

.navbar-menu {
    display: none;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
}

.navbar li {
    float: left;
    height: 55px;
}

.navbar li:hover {
    background-color: lightgray;
}

.navbar .button-login {
    float: right;
}

.navbar li a {
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.title-section {
    color: white;
    padding: 50px;
}

.title ul {
    list-style-type: none;
    overflow: hidden;
}

.title li {
    float: left;
}

.title h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.title h2 {
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsl(47, 100%, 49%);
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.title .rigth {
    float: right;
}

.title img {
    width: 200px;
}



.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
}

.footer h4 {
    margin-bottom: 20px;
    color: rgb(163, 160, 160);
}


.footer ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    overflow: hidden;
}

.footer li {
    float: left;
    margin: 5px;
}

.footer li a {
    color: whitesmoke;
}

@media (max-width: 1440px) {
    .container {
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .title img {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .title-section {
        padding: 20px;
    }
    
    .title img {
        display: none;
    }

    .navbar li:hover {
        background-color: transparent;
        cursor: pointer;
    }

    .navbar li:active {
        filter: invert(100%);
    }

    .navbar .navbar-item {
        display: none;
    }

    .navbar .navbar-item li:hover {
        background-color: lightgray;
    }

    .navbar .navbar-item-li {
        width: 100%;
    }

    .navbar .navbar-menu {
        display: block;
        margin: 0 15px;
        float: right;
    }

    .navbar .navbar-menu img {
        margin: 5px;
    }

    .cards li {
        width: 100%;
    }
    .cards img {
        width: 100%;
    }

    .search input {
        width: 70vw;
    }

    .footer li{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 530px) {
    .search input {
        width: 60vw;
    }
}
@media (max-width: 400px) {
    .search input {
        width: 50vw;
    }
}
